* {
  margin: 0;
  padding: 0;
}

body {
    background-image: linear-gradient(rgb(176, 226, 238), rgb(195, 144, 236), pink);
}

h1 {
    text-align: center;
    padding-top: 30px;
    color: rgb(231, 160, 6);
    text-decoration: overline underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(231, 160, 6);
}